src/flows/Cheapest_Property_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Cheapest_Property_Exists</name>
        <label>Check Cheapest Property Exists</label>
        <locationX>724</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Cheapest Property Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Cheapest_Property_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_cheapest_property</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Trigger_Cheapest</targetReference>
            </connector>
            <label>Cheapest Property Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Trigger_Cheapest</name>
        <label>Is Trigger Cheapest</label>
        <locationX>202</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger_Cheapest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_existing_cheapest_property.Price__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unset_Existing_Cheapest</targetReference>
            </connector>
            <label>Trigger Cheapest</label>
        </rules>
    </decisions>
    <interviewLabel>Cheapest Property Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cheapest Property Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_existing_cheapest_property</name>
        <label>Get existing cheapest property</label>
        <locationX>733</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Cheapest_Property_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cheapest__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropertyHW__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Unset_Existing_Cheapest</name>
        <label>Unset Existing Cheapest</label>
        <locationX>309</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Update_New_Cheapest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cheapest__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Cheapest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PropertyHW__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Cheapest</name>
        <label>Update New Cheapest</label>
        <locationX>671</locationX>
        <locationY>451</locationY>
        <inputAssignments>
            <field>Cheapest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_existing_cheapest_property</targetReference>
        </connector>
        <object>PropertyHW__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
