src/flows/Duplicate_Property_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Duplicates</name>
        <label>Assign Duplicates</label>
        <locationX>326</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>duplicate_records_tmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicates_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duplicates_Count</name>
        <label>Duplicates Count</label>
        <locationX>434</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>duplicate_records_tmp_size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>duplicate_records_tmp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_Updated_Collection</name>
        <label>Modify Updated Collection</label>
        <locationX>1178</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>updated_duplicates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Flag</name>
        <label>Set_Duplicate_Flag</label>
        <locationX>773</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Duplicates.Duplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_Updated_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if record is not already flagged as duplicate</description>
        <name>Check_Already_Flagged</name>
        <label>Check Already Flagged</label>
        <locationX>468</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Iterate_Duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Flagged</defaultConnectorLabel>
        <rules>
            <name>Not_Flagged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Duplicates.Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duplicate_Flag</targetReference>
            </connector>
            <label>Not Flagged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Duplicates</name>
        <label>Check Duplicates</label>
        <locationX>548</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>Duplicates Not Present</defaultConnectorLabel>
        <rules>
            <name>Duplicates_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicate_records_tmp_size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Duplicates</targetReference>
            </connector>
            <label>Duplicates Present</label>
        </rules>
    </decisions>
    <interviewLabel>Duplicate Property Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Property Flow</label>
    <loops>
        <name>Iterate_Duplicates</name>
        <label>Iterate Duplicates</label>
        <locationX>779</locationX>
        <locationY>403</locationY>
        <collectionReference>duplicate_records_tmp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Already_Flagged</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Duplicate_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DuplicateRecords</name>
        <label>Duplicate Records</label>
        <locationX>212</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PropertyHW__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Duplicate_Flag</name>
        <label>Update Duplicate Flag</label>
        <locationX>781</locationX>
        <locationY>636</locationY>
        <inputReference>updated_duplicates</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DuplicateRecords</targetReference>
        </connector>
        <object>PropertyHW__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>duplicate_records_tmp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PropertyHW__c</objectType>
    </variables>
    <variables>
        <name>duplicate_records_tmp_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updated_duplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PropertyHW__c</objectType>
    </variables>
</Flow>
